
body{
    width: 100vw;
    height: auto;
background-color: mediumaquamarine;
}
main{
    width: 100%;
    height: auto;
    display: flex;
    /* justify-content: center; */
    align-items:  center;
}
img{
    width: 20vw;
    height:20vh;
}
a{
    font-size: 50px;
    color: white;
}
fieldset{
    width: calc(100vw/4);
    display: flex;
    justify-content: center;
    align-items:  center;
    flex-direction: column;
}